body {
    display: grid;
    grid-template-areas: 
    "aside header"
    "aside main";
    grid-template-columns: auto 1fr; /* 1 fração do espaço de largura que sobrou do grid container */
}

.cabecalho {
    grid-area: header;
}

.menu-lateral {
    grid-area: aside;
}

.principal {
    grid-area: main;
}